p{
color:red;
}

.pad{
    padding-top: 3%;
}

.pad2{
    margin-bottom: 5%;
}

.heading{
    text-align: center;
    padding: 3% 0%;
}

.change{
    color:#808080;
}

.my__form{
    padding-left:3%;
}